<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/addhod1.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/addhod2.css}" type="text/css" >
    <script type="text/javascript" src="/js/jquery3.3.1.js"></script>
    <script type="text/javascript" src="/js/db_ajax.js"></script>
</head>

<body class="bg-light" style="">
<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="height:80px">
    <a class="navbar-brand" href="#">
        <img src="/image/logonew.png" alt="Logo" title="Logo" class="rounded" height="50px">
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10" style="">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="#" style="color:white;font-size:20px;font-weight:500;">Home</a> </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <li class="nav-item"> <a class="nav-link" href="#" style="color:white;font-size:20px;font-weight:500;">Login</a> </li>
        </ul>
    </div>
</nav>
<div class="align-items-center d-flex section-primary py-2 bg-light" style="box-shadow: black 0px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-12 p-3" style="">
                <form class="section-light bg-light" method="post" action="/addHod/promote" style="">
                    <br><br><br>
                    <h3 class="mb-3 text-center" style="	color: blue;" ><b>Add Hod</b></h3><b><br>
                    <center>
                        <select name="departmnt" id="dept" class="btn dropdown-toggle w-75 ml-5 btn-secondary py-2 text-left" data-toggle="dropdown" aria-expanded="false">
                            <option th:each="dept : ${depts}"
                                    th:value="${dept.deptid}" th:text="${dept.department_name}">Department</option>
                        </select>

                        <button type="button" onclick="fetchFaculties()" class="btn btn-secondary ml-3" style="	box-shadow: 0px 0px 4px  black;	text-shadow: 0px 0px 4px black;	border-color: white;">
                            <b class="" style="text-shadow: 0px 0px 4px black;">Go</b>
                        </button></center>
                    <br><br><br><br>
                    <center>/
                        <div id="myTable">
                            <tbody style="	color: blue; fontsize:20p;	box-shadow: 0px 0px 4px  white;">
                            <tr>
                                <th class="mx-2 p-3 table-blue" colspan="1" rowspan=" class=">Faculty Code</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <th class="mx-2 p-3 table-blue" colspan="1" rowspan=" class=">Faculty Name</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <th class="mx-2 p-3 table-blue" colspan="1" rowspan=" class=">Promot Hod</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </tr>
                            <tr>
                                <!--   <td colspan="2"><input type="number" id="txtcode" class="form-control-lg text-left p-2" required="required"></td>
                                   <td><input type="text" id="txtname" class="form-control-lg" required="required"></td>
                                   <td class="pl-4 text-light table-info mx-2">
                                       <input type="radio" name="facultycode"th:value="${faculty.facultycode}"th:checked="${faculty.getHod()}" class="form-control-lg" id="txthod" required="required" height="100"></td>-->

                            </tr>

                            <tbody id="fac_place" style="	color: blue; fontsize:20p; 	box-shadow: 0px 0px 4px  white;"  class="mx-2 p-3 table-blue" colspan="1" rowspan=" class=" >

                        </tbody>
                        </table>
                    </center>
                    <br><br><br><br><br><br>
                    <center>
                        <button type="submit" class="btn btn-secondary ml-5" style="	box-shadow: 0px 0px 4px  black;		border-color: white;"><b class="" style="	">Submit</b>
                        </button></center>
                </b>
                </form>
            </div>

        </div>

    </div>

</div>
<br><br>
<div class=" bg-dark">
    <div class="col-md-12 ">
        <p class="text-center bg-dark text-light">© 2019 Project Management Portal. </p>
    </div>
</div>
<script src="/js/js1.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/js/js2.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/js3.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>