<tr xmlns="http://www.w3.org/1999/html" id="shome">
    <td th:text="${std.getEnrollment()}"></td>
    <td th:text="${std.getFirstname()}"></td>
    <td th:text="${std.getLastname()}"></td>
    <td th:text="${std.getEmail()}"></td>
    <td>

        <form action="/handlemember/addmember" method="post" th:object="${groups}">
                <select th:field="*{groupId}"  id="grpId">
                    <option th:each="grp: ${groupList}"
                            th:value="${grp.groupId}"
                            th:text="${grp.groupName}">
                    </option>
                </select>
        </form>
    </td>
    <td>
        <a th:href="@{/handlemember/grouprequestmail(email = ${std.getEmail()}, enrollment = ${std.getEnrollment()})}">ADD</a>
    </td>
</tr>
