<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery3.3.1.js"></script>
    <script type="text/javascript" src="/js/db_ajax.js"></script>
</head>
<body>
   Enrollment No:
   <input type="text" id="student" name="enrollment">

<!--    <button type="button" onclick="fetchStudent()">Search</button><br>
    <label for="search">Search:</label> <input name="search"
                                                     id="search">

    <div>
        <form action="/deallocatemember" method="post"  th:object="${deallocate}">
            <table>
                <thead>
                <tr>
                    <th>Enrollment No</th>
                    <th>Student Name</th>
                    <th>Department</th>
                    <th>Group Id</th>
                    <th>Group Name</th>
                </tr>
                </thead>
                <tbody id="std_place"></tbody>
                <tfoot>
                <tr>
                    <td> <button type="button"> Deallocate </button> </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>-->
</form>
</body>
</html>