<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        .vertical-menu {
            width: 500px;
            height: 300px;
            overflow-y: auto;
            float: left;
        }

    </style>
</head>
<body>
<form action="/faculty/assignedgroups" method="post" th:object="${grp}">
<div class="vertical-menu h-500 w-250">
    <table style="width:50%">
        <tr>
            <th>Group name</th>
            <th>memebrs</th>
            <th>contact</th>
        </tr>
        <tbody>
        <tr th:each="member : ${members}">
           <td th:text="${grpdetils.getGroupName()}"></td>
           <td th:text="${member.getFirstname()}"></td>
           <td th:text="${member.getEmail()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</form>

<form action="/faculty/grpdocs" method="post" th:object="${grp}" >
<div class="vertical-menu h-500 w-500">
    <table style="width:70%" th:name="activity">
        <tr>
            <th>select</th>
            <th>document no</th>
            <th>document name</th>
            <th>description</th>
            <th>approve</th>
        </tr>
        <tbody>
        <tr th:each="document : ${documents}">
            <td><input type="checkbox" th:field="*{groupId}" th:value="${grpdetils.getGroupId()}"></td>
            <td th:text="${document.getUploaddocid()}"></td>
            <td th:text="${file}"></td>
            <td th:text="${document.getDescription()}"></td>
            <td><input type="radio" name="docId" th:value="${document.getUploaddocid()}" th:checked="${document.isApproved()}"></td>

        </tr>
        </tbody>
    </table>
    <input type="submit">
</div>
</form>
</body>
</html>