<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="faculty" method="post" th:object="${faculty}">

  <b>Departments:</b><select th:field="*{department_id}">
      <option th:each="dept: ${depts}"
              th:value="${dept.deptid}" th:text="${dept.department_name}"></option>
</select>
  <b>Faculty ID:</b>
  <input type="text" name="faculty_code"><br>
  <b>FirstName:


  <input type="text" name="faculty_firstname"><br>
  <b>MiddleName:</b>
  <input type="text" name="faculty_middlename"><br>
  <b>LastName:</b>
  <input type="text" name="faculty_lastname"><br>
  <b>Email:</b>
  <input type="text" name="email"><br>
  <b>Mobile Number:</b>
  <input type="text" name="phone"><br>
  <b>Username:</b>
  <input type="text" name="username"><br>
  <b>Password:</b>
  <input type="text" name="password"><br>
  <button type="submit">Submit</button>


</form>

</body>
</html>