

    <!--<lable>Select Document Type to Upload:</lable></td><td>
        <select class="btn dropdown-toggle btn-secondary w-75 ml-5" data-toggle="dropdown" aria-expanded="false" style="box-shadow: black 0px 0px 6px; border-color: white; text-shadow: black 0px 0px 4px;" draggable="true" id="doctype">
            <option th:each="doc : ${doctypes}"
                    th:value="${doc.doctypeid}" th:text="${doc.documentname}"></option>
        </select>-->
    <form action="/upload/file" method="post" enctype="multipart/form-data" th:object="${uploaddoc}" >
        <b>File Name</b><input type="file" name="file"/>
        <br>
        <b>Description</b><input type="text" th:field="*{description}"/>
        <br>
        <button type="submit">Upload</button>
    </form>

    <div  style="width: fit-content; height: fit-content;  " th:if="${msg}" class="alert alert-success"
          role="alert" th:text=" ${msg}"></div>

