<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Activation for PMP</title>
</head>
<body>
<div align="center">
    <img src="/images/logo.png"/>
</div>
<div>
    <p th:text="'Dear '+${mail.name}"></p>
    <p>you can change your password here,</p>
    <p>Kindly <a th:href="${mail.link}"><button>Click Here</button></a> to change password</p>

</div>
<div>
    <p><i>Thanks and Regards</i></p>
    <p>PMP Team</p>
</div>
</body>
</html>