<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/forgot" method="post">
<h4>enter your mail id we will</h4>
    <h4>send you link to reset your password.</h4><br>
<input type="email" name="email"><br>

<input type="submit"><br>

    <div  style="width: fit-content; height: fit-content; left: 40% " th:if="${msg}" class="alert alert-success"
          role="alert" th:text="${msg}"></div>

    <div style="width: fit-content; height: fit-content; left: 40%" th:if="${errmsg}" class="alert alert-danger" role="alert"
         th:text="${errmsg}"></div>
</form>
</body>
</html>