<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/studentRegistrationCss.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{/css/studentThreg.css}" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="height:80px;">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.png" alt="Logo" title="Logo" class="rounded" style="" height="50">
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10" style="">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link " th:href="@{/account/login}" style="color:white;font-size:20px;font-weight:500;"><i class="fa fa-home fa-x fa-lg" aria-hidden="true" style="color:#ffffff"></i>&nbsp;&nbsp;Home</a> </li>
        </ul>
    </div>
</nav>
<form>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br> <br>
        <br>
        <br>
        <label class="text-capitalize text-nowrap" style="color:blue; font-size:30px;" th:text="${msg}"><strong >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></label></div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="bg-dark ">
    <div class="container">
        <div class="row" style="">
            <div class="col-md-12 text-center">
                <p class="mb-0 text-light">Copyright © 2019 Project Management System. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/js1.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/js/js2.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/js3.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

    </html>