<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/addhod1.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/addhod2.css}" type="text/css" >
</head>

<body class="bg-light" style="" >
  <form>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="height:80px">
      <a class="navbar-brand" href="#">
        <img src="/image/logonew.png" alt="Logo" title="Logo" class="rounded" height="50px">
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#" style="color:white;font-size:20x;font-weight:500;">Home</a> </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
      </div>
    </nav><br><br>
    <div class="align-items-center d-flex section-primary py-2 bg-light" style="">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="">
            <h3 class="mb-3 text-center" style="	color: blue;">Reset Password</h3>
            <div class="form-group">&nbsp;&nbsp;<center>
                <input class="form-control w-75 form-control-lg mx-5" style="	box-shadow: 0px 0px 4px  blue;" required="required" placeholder="Password" th:field="*{password}" type="password"> </center>
            </div>
            <div class="form-group">
              <center>
                <input class="form-control w-75 form-control-lg mx-5" placeholder="Comfirm Password" th:field="*{confirm password}"style="	box-shadow: 0px 0px 4px  blue;" required="required" type="password"> </center>
            </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-secondary ml-3" style="	box-shadow: 0px 0px 4px  black;	text-shadow: 0px 0px 4px black;	border-color: white;">
              <b class="">Submit</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="bg-dark">
    <div class="col-md-12">
      <p class="text-center bg-dark text-light">Copyright © 2019 Project Management System. All rights reserved. </p>
    </div>
  </div>
  <div class="row bg-light">
    <div class="col-md-12 mt-3">
    </div>
  </div>
   <script src="/js/js1.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/js2.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/js/js3.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>