<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/studentRegistrationCss.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/studentThreg.css}" type="text/css">
   <!-- <title>University Registration</title>-->
</head>
<body>


    <form action="university" method="post" th:object="${university}">
                    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="height: 80px">
                        <a class="navbar-brand" href="#">
                            <img alt="Logo" title="Logo" class="rounded" style="" src="/images/logo.png" height="50">
                        </a>
                        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10" style="">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar10">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link" style="color:white;font-size:25px;font-weight:500;" th:href="@{/account/login}">Home</a> </li>
                                <!--<li class="nav-item"> <a class="nav-link" href="#" style="color:white;font-size:25px;font-weight:500;">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" style="color:white;font-size:25px;font-weight:500;" th:href="@{/account/login}">Login</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#" style="color:white;font-size:25px;font-weight:500;">Profile</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#" style="color:white;font-size:25px;font-weight:500;">LogOut</a> </li>-->
                            </ul>
                        </div>
                    </nav>
                    <div class="form-group mt-4" >
                        <h4 class="mb-3 text-center" style="	color: blue;	text-shadow: 0px 0px 6px black;	box-shadow: 0px 0px 4px  white;">UNIVERSITY REGISTRATION</h4>
                    </div>

        <div  style="width: fit-content; height: fit-content;  " th:if="${msg}" class="alert alert-success"
             role="alert" th:text="${msg}"></div>

        <div style="width: fit-content; height: fit-content;" th:if="${errmsg}" class="alert alert-danger" role="alert"
             th:text="${errmsg}"></div>
                <div class="form-group ml-5 pl-5"><input type="text" class="form-control w-75 ml-5" id="form27" placeholder="University Code" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{university_code}"></div>
                <div class="form-group ml-5 pl-5"><input type="text" class="form-control w-75 ml-5" id="form28" placeholder="University Name" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{university_name}" ></div>
                <div class="form-group ml-5 pl-5"><input type="email" class="form-control w-75 ml-5" id="form29" placeholder="Email" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{email}"></div>
                <div class="form-group ml-5 pl-5"><input type="number" class="form-control w-75 ml-5" id="form30" placeholder="Phone No" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{contact_no}"></div>
                <div class="form-group ml-5 pl-5"> <input type="text" class="form-control w-75 ml-5" id="form31" placeholder="Fax" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{fax}"> </div>
                <div class="form-group ml-5 pl-5"> <input type="text" class="form-control w-75 ml-5" id="form32" placeholder="Website" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{website}"></div>
                <div class="form-group ml-5 pl-5"> <input type="text" class="form-control w-75 ml-5" id="form33" placeholder="Username" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{username}"></div>
                <div class="form-group ml-5 pl-5"> <input type="password" class="form-control w-75 ml-5" id="form34" placeholder="Password" style="font-color:blue;	box-shadow: 0px 0px 4px  blue;	text-shadow: 0px 0px 4px blue;" required="required" th:field="*{password}">
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" class="btn btn-secondary ml-5 w-25" style="	box-shadow: 0px 0px 4px  black;	text-shadow: 0px 0px 4px black;	border-color: white;"> Register </button>

    </form>
    <div class="bg-dark">
        <div class="container">
            <div class="row" style="">
                <div class="col-md-12 text-center">
                    <p class="mb-0 text-light">Copyright © 2019 Project Management System. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
<script src="/js/js1.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/js/js2.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/js3.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>