<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="registration" method="post" th:object="${userDTO}">
    <b>Enrollment Number:</b>
    <input type="text" name="enrollment_no"><br>
    <b>College:</b>
    <input type="text" name="college"><br>
    <b>Department:</b>
    <input type="text" name="dept"><br>
    <b>Semester:</b>
    <input type="text" name="sem"><br>
    <b>FirstName:</b>
    <input type="text" name="firstname"><br>
    <b>MiddleName:</b>
    <input type="text" name="middlename"><br>
    <b>LastName:</b>
    <input type="text" name="lastname"><br>
    <b>Email ID:</b>
    <input type="text" name="email"><br>
    <b>Mobile Number:</b>
    <input type="text" name="mobile_no"><br>
    <b>Password:</b>
    <input type="text" name="password"><br>
    <b>Confirm Password:</b>
    <input type="text" name="confirm_password"><br>
    <button type="submit">Submit</button>


</form>

</body>
</html>